@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

body {
    font-family: Almarai  ;
overflow-x: hidden !important ;
}

.btn{
    background-color: #6e3689;
    color: #ecd2f9 ;
    padding: 10px 10px;
    border-radius: 10px;
   
    font-weight: bold;
border: 0;
cursor: pointer;
transition: 0.3s;
}
.btn:hover{
filter: brightness(50%);
}
.img-translate{
    animation: translate  1s ease-in-out infinite;
}

   @keyframes translate {
    0%,
    100% {
      transform: translatex(-10px);
    }
    50% {
      transform: translatex(10px);
    }
  }

     
    